.bg-light {
    background: rgb(152, 231, 231) !important;
}
.name {
    font-size: 32px !important;
    color: rgb(36, 36, 56);
}

.active {
    color: black !important;
    font-style: italic;
    font-weight: 580;
}

a.nav-link {
    color: black !important;
    background: white;
    padding: 6px 20px !important;
    width: 180px !important;
}

.nav-img {
    margin-left: 0px !important;
}

.card {
    margin-bottom: 20px !important;
}